127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['microshift'] %}
{{ hostvars[host].ansible_host }} {{ host }} {{ host }}.{{ microshift_node_base_domain }}
{% endfor %}