[Unit]
Description=GoPro Control Quadlet

[Container]
Image=quay.io/kenmoini/gopro-control:latest
ContainerName=gopro-control
#AutoUpdate=registry
Label="io.containers.autoupdate=registry"
EnvironmentFile=/opt/gopro-control/gopro-control-environment
Volume=/opt/gopro-control/videos:/opt/app-root/src/videos
Network=host

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
